

html,
body {
  --bg-color: rgb(255, 231, 172);

  height: 100%;
  background-color: var(--bg-color);
  /* overflow: hidden; */
}

.fa-hand-rock,
.fa-hand-paper,
.fa-hand-scissors{
  color: rgb(104, 73, 39);
  font-size: xx-large;  
}
.clickable{
  cursor: pointer;
}

.fa-robot,
.fa-user-circle{
  font-size: xx-large;
  color: rgb(51, 85, 105);
}

#show-turn{
  opacity: 0;
  transition: opacity 1s;
}

#show-turn.fade-in{
  opacity: 1;
}
/* 
#show-turn.fade-out{
  opacity: 0;
} */

.fa-check{
  color: green;
  font-size: xx-large;
}

.fa-times{
  color: rgb(131, 11, 11);
  font-size: xx-large;
}

.fa-bars{
  color: rgb(31, 43, 49);
  font-size: xx-large;
}
.card{
  width: 90vmin;
  height: 35vmin;
  background-color: var(--bg-color);
  position: relative;
}
.options{
  width: 80vmin;
  position: relative;
}