html,
body {
  height: 100%;
  background-color: rgb(255, 231, 172);
}

.fa-hand-rock,
.fa-hand-paper,
.fa-hand-scissors{
  color: rgb(104, 73, 39);
  font-size: xx-large;  
}
.clickable{
  cursor: pointer;
}

.fa-robot,
.fa-user-circle{
  font-size: xx-large;
  color: rgb(51, 85, 105);
}

#show-turn{
  opacity: 0;
  transition: opacity 1s;
}

#show-turn.fade-in{
  opacity: 1;
}

.fa-check{
  color: green;
  font-size: xx-large;
}

.fa-times{
  color: rgb(131, 11, 11);
  font-size: xx-large;
}

.fa-bars{
  color: rgb(31, 43, 49);
  font-size: xx-large;
}