html,
body {
  height: 100%;
  background-color: rgb(255, 231, 172);
}

.fa-hand-rock,
.fa-hand-paper,
.fa-hand-scissors{
  color: rgb(104, 73, 39);
  font-size: xx-large;
  cursor: pointer;
}

.fa-robot,
.fa-user-circle{
  font-size: xx-large;
}
